@model WebApplication29.Models.Login

@{
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adds" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfimPassword" class="control-label"></label>
                <input asp-for="ConfimPassword" class="form-control" />
                <span asp-validation-for="ConfimPassword" class="text-danger"></span>
            </div>
        
                   <div class="form-group mb-3">
                <label class="label" for="FirstName">FirstName</label>
                <input name="FirstName" id="FirstName" type="text" class="form-control" placeholder="FirstName" required>
            </div>
             <div class="form-group mb-3">
                <label class="label" for="LastName">LastName</label>
                <input name="LastName" id="LastName" type="text" class="form-control" placeholder="LastName" required>
            </div>
                         <div class="form-group mb-3">
                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" value="male" type="radio" checked="checked" name="Gender" id="Gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="Gender" id="Gender" value="female"> 
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
            </div>
                                     <div class="form-group mb-3">
                <label class="label" for="Email">Email</label>
                <input name="Email" id="Email" type="text" class="form-control" placeholder="Email" required>
            </div>
                      <div class="form-group mb-3">
                <label class="label" for="PhoneNumber">PhoneNumber</label>
                <input name="PhoneNumber" id="PhoneNumber" type="text" class="form-control" placeholder="PhoneNumber" required>
            </div>
                          <div class="form-group mb-3">
                <label class="label" for="Adress">Adress</label>
                <input name="Adress" id="Adress" type="text" class="form-control" placeholder="Adress" required>
            </div>
                                    <div class="form-group mb-3">
                <label class="label" for="City">City</label>
                <input name="City" id="City" type="text" class="form-control" placeholder="City" required>
            </div>
                                  <div class="form-group mb-3">
               <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="date" name="BirthDate" id="BirthDate" required >
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>   </div>
                                       <div class="form-group mb-3">
                <label class="label" for="ImageFile">ImageFile</label>
                <input name="ImageFile"  id="ImageFile" type="file" class="form-control" placeholder="ImageFile" accept="image/*" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


