@model WebApplication29.Models.ContactU
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Contact Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div><h2>Get In Touch</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br>
			</div>
		</div>
	<div class="row">
						<div class="col-md-5">
							   <!-- Form itself -->
          <form name="sentMessage" id="contactForm" asp-action="ContactUs"  style="margin-bottom: 30%;" novalidate>
	       <h3>Contact me</h3>
		 <div class="control-group">
			  <div class="controls">
			  <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
                  <!-- 
			<input type="text" class="form-control" 
			   	   placeholder="Full Name" id="name" required
			           data-validation-required-message="Please enter your name" />
		-->
		   </div>
		   	  <p class="help-block"></p>
	         </div> 	
                <div class="control-group">
                  <div class="controls">
		  <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
		</div>
	    </div> 	
			  
               <div class="control-group">
                 <div class="controls">
					 	 <label asp-for="MessageText" class="control-label"></label>
				 <textarea asp-for="MessageText" class="form-control" rows="10" cols="100" class="form-control" 
                       placeholder="Message" id="message" required
		       data-validation-required-message="Please enter your message" minlength="5" 
                       data-validation-minlength-message="Min 5 characters" 
                        maxlength="999" style="resize:none"></textarea>
			
                <span asp-validation-for="MessageText" class="text-danger"></span>
		</div>
               </div> 		 
	     <div id="success"> </div> <!-- For success/fail messages -->
	    <button type="submit" class="btn btn-primary pull-right">Send</button><br />
          </form>	
					</div>
								<div class="col-md-offset-1 col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.2540269285114!2d35.854175950407424!3d31.954004532706655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3d90e85c83be02e0!2zMzHCsDU3JzE0LjQiTiAzNcKwNTEnMjIuOSJF!5e0!3m2!1sen!2sjo!4v1651777802336!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(40.805478,-73.96522499999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.805478, -73.96522499999998)});infowindow = new google.maps.InfoWindow({content:"<b>The Breslin</b><br/>2880 Broadway<br/> New York" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
								</div>
							</div>
	</div>
 
	</section>