@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section id="banner">

	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="~/Bootstrap/img/slides/1.jpg" alt="flexslider" /> 
                <div class="flex-caption">
                    <h3>Home Services</h3> 
					<p>Doloribus omnis minus temporibus perferendis ipsa architecto.</p>  
                </div> 
              </li>
              <li>
                <img src="~/Bootstrap/img/slides/2.jpg" alt="flexslider" /> 
                <div class="flex-caption">
                    <h3>Affordable Services</h3> 
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elitincidunt.</p>  
                </div> 
              </li>
            </ul>
        </div>
		
	<!-- end slider -->
 
	</section>
	<section class="jumbobox">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div><h1>Services</h1> Household services are basic services of a domestic nature that are required for the proper running and maintenance of your household..</div>
				
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
			<div class="row">			
		<div class="skill-home"> <div class="skill-home-solid clearfix"> 
		
			<div class="col-md-3 text-center" style="margin-left:140px">
		   <div class="box"> 
	      <span class="icons c1"><i class="icon-settings icons"></i></span> <div class="box-area">
		  <h3>Home cleaning</h3> <p>ceanliness is not just about keeping oneself and his home clean; it is also about keeping our environment clean.</p> <p><a href="#">Learn More</a></p></div>
		 </div></div>
		
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<span class="icons c2"><i class="icon-login icons"></i></span> <div class="box-area">
		<h3>Gardening</h3> <p> Different kinds of gardening can be done such as flower garden, vegetable garden, fruit garden, botanical garden etc.</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<span class="icons c3"><i class="icon-user icons"></i></span> <div class="box-area">
		<h3>Maintenance</h3> <p>We all know anything that needs servicing from the day we bought it.Maintenance reduces malfunctions and reduces costs</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		
		</div></div></div>
		</div> </div> 
	 

	</div>
	</section> 
		 
	
		<section class="aboutUs">
	<div class="container">
		<div class="row">
		<div class="col-md-6"><img src="~/Bootstrap/img/img1.png" class="img-center" alt="" /></div>
			<div class="col-md-6">
				<div><h2>Our Team</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus, vero mollitia velit ad consectetur. Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non, magni consequuntur quam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus, vero mollitia velit ad consectetur. Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non, magni consequuntur quam.</p>
				</div>
				<br/>
			</div>
		</div> 
	
	</div>
	</section> 
	 <section class="clients">
	 <div class="container">
	 	<div class="clients-slider">
				<h3 class="header-title">Our Clients</h3>
				<div class="clients-control pull-right">
					<a class="prev btn btn-gray btn-xs"><i class="fa fa-angle-left fa-2x"></i></a>
					<a class="next btn btn-gray btn-xs"><i class="fa fa-angle-right fa-2x"></i></a>
				</div>
				<span class="line"></span>
				<div id="clients-slider" class="owl-carousel">
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/amazon-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/amazon.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cisco_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cisco.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cityairline-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cityairline.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/dell-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/dell.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/ebay-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/ebay.png" class="colored">
						</a>
					</div> 
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/google-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/google.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/hp_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/hp.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/igneus_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/igneus.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/natural_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/natural.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/shell_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/shell.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/vadafone_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/vadafone.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/walmart_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/walmart.png" class="colored">
						</a>
					</div>
				</div>
				<div class="fullwidth margin-bottom-50">
				</div>
			</div>
		 </div>
	 </section>