@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


	<!-- Slider -->
	<section id="banner"> 
        <div id="main-slider" class="flexslider" > 
            <ul class="slides" >
              <li>
                <img src="~/Bootstrap/img/slides/1.jpg" alt="flexslider"  /> 
                <div class="flex-caption">
                    <h3>Home Services</h3> 
					<p>Best websites for home services businesses.</p>  
                </div> 
              </li>
              <li>
                <img src="~/Bootstrap/img/slides/2.jpg" alt="flexslider" /> 
                <div class="flex-caption">
                    <h3>Affordable Services</h3> 
					<p>© 2022 Alliance For Affordable Services  +962798270234</p>  
                </div> 
              </li>
            </ul>
			
        </div>
		
	<!-- end slider -->
 
	</section>
	<section class="jumbobox">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div><h1>Services</h1> Household services are basic services of a domestic nature that are required for the proper running and maintenance of your household..</div>
				
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
			<div class="row">			
		<div class="skill-home"> <div class="skill-home-solid clearfix" style="display: flex; flex-wrap: wrap; flex-direction: row; align-content: flex-start;"> 
		
			<div class="col-md-3 text-center" style="margin-left:140px">
		   <div class="box"> 
	     
		<img src="~/Bootstrap/img/Cleaning5.jpg" alt=""style="width:305px;height:152.125px;margin-top: 10px;"></i></span> <div class="box-area">
		<h3>Home cleaning</h3> <p>If everyone cleaned around his house, every city would be clean. <br />Cleanliness is half wealth.Hygiene should be a daily habit for a person in order to maintain his body</p> </div>
		</div></div>
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<img src="~/Bootstrap/img/gardening 3.jpg"alt=""style="width:305px;height:152.125px;margin-top: 10px;"></i></span> <div class="box-area">
		<h3>Gardening</h3> <p>Agriculture is the inexhaustible treasure, but rather it is the treasure that grows and increases. Agriculture satisfies hunger, and industry satisfies the needs.<br />But education sows and makes a country</p> </div>
		</div></div>
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<img src="~/Bootstrap/img/Maintenance.jpg" alt=""style="width:305px;height:152.125px;margin-top: 10px;"></i></span> <div class="box-area">
		<h3>Maintenance</h3> <p>Maintenance Keeping the machine or equipment working in good condition through inspection and repair.Maintenance has gone through different stages of development</p> </div>
		</div></div>
		
		</div></div></div>
		</div> </div> 
	 

	</div>
	</section> 
		 
	
		<section class="aboutUs">
	<div class="container">
		<div class="row">
		<div class="col-md-6"><img src="~/Bootstrap/img/img1.png" class="img-center" alt="" /></div>
			<div class="col-md-6">
				<div><h2>Our Team</h2>
                <p>Save your team hours with a modern, actionable customer database that grows with every new contact. Search efficiently, organize customers on important attributes, and manage conversations or initiate payments all from one convenient place</p>
				<p>If I have been able to see farther than others, it is because I have stood on the shoulders of so many giants. With its union, the coal is ignited, and when it is dispersed, it is extinguished. None of us can achieve success by working alone. I think we still have a chance if we continue our work, if there is full cooperation from Iraq, we can still avoid war.</p>
				
				</div>
				<br/>
			</div>
		</div> 
	
	</div>
	</section> 
	 <section class="clients">
	 <div class="container">
	 	<div class="clients-slider">
				<h3 class="header-title">Our Clients</h3>
				<div class="clients-control pull-right">
					<a class="prev btn btn-gray btn-xs"><i class="fa fa-angle-left fa-2x"></i></a>
					<a class="next btn btn-gray btn-xs"><i class="fa fa-angle-right fa-2x"></i></a>
				</div>
				<span class="line"></span>
				<div id="clients-slider" class="owl-carousel">
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/amazon-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/amazon.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cisco_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cisco.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cityairline-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/cityairline.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/dell-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/dell.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/ebay-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/ebay.png" class="colored">
						</a>
					</div> 
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/google-grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/google.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/hp_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/hp.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/igneus_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/igneus.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/natural_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/natural.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/shell_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/shell.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/vadafone_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/vadafone.png" class="colored">
						</a>
					</div>
					<div class="item">
						<a href="#">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/walmart_grey.png">
						<img alt="Our Client" src="~/Bootstrap/img/OurClients/walmart.png" class="colored">
						</a>
					</div>
				</div>
				<div class="fullwidth margin-bottom-50">
				</div>
			</div>
		 </div>
	 </section>