@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Services</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container content">	
<div class="row">
			<div class="col-md-12">
				<div><h2>Our Quality Service</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br>
			</div>
		</div>		
        <!-- Service Blcoks -->

     <section id="content">
	
	
	<div class="container">
			<div class="row">
				
		<div class="skill-home"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-3 text-center" style="margin-right200px">
		<div class="box"> 
		<img src="~/Bootstrap/img/Home  services.jpg" alt=""style="width:305px;height:152.125px"></i></span> <div class="box-area">
		<h3>Home cleaning</h3> <p>If everyone cleaned around his house, every city would be clean. <br />Cleanliness is half wealth.Hygiene should be a daily habit for a person in order to maintain his body</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<img src="~/Bootstrap/img/Gardening.jpg"alt=""style="width:305px;height:152.125px"></i></span> <div class="box-area">
		<h3>Gardening</h3> <p>Agriculture is the inexhaustible treasure, but rather it is the treasure that grows and increases. Agriculture satisfies hunger, and industry satisfies the needs.<br />But education sows and makes a country</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<img src="~/Bootstrap/img/Maintenance.jpg" alt=""style="width:305px;height:152.125px"></i></span> <div class="box-area">
		<h3>Maintenance</h3> <p>Maintenance Keeping the machine or equipment working in good condition through inspection and repair.Maintenance has gone through different stages of development</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		
		</div></div></div>
		</div> </div> 
	 

	</div>
	</section> 

        <!-- End Service Blcoks -->

       
       
    </section>