@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Services</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container content">	
<div class="row">
			<div class="col-md-12">
				<div><h2>Our Quality Service</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br>
			</div>
		</div>		
        <!-- Service Blcoks -->

     <section id="content">
	
	
	<div class="container">
			<div class="row">
				
		<div class="skill-home"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-3 text-center" style="margin-left:140px">
		<div class="box"> 
		<span class="icons c1"><i class="icon-settings icons"></i></span> <div class="box-area">
		<h3>Home cleaning</h3> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<span class="icons c2"><i class="icon-login icons"></i></span> <div class="box-area">
		<h3>Gardening</h3> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		<div class="col-md-3 text-center"> 
		<div class="box"> 
		<span class="icons c3"><i class="icon-user icons"></i></span> <div class="box-area">
		<h3>Management</h3> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p> <p><a href="#">Learn More</a></p></div>
		</div></div>
		
		</div></div></div>
		</div> </div> 
	 

	</div>
	</section> 

        <!-- End Service Blcoks -->

       
       
    </section>