@model IEnumerable<WebApplication29.Models.joins>

 <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All Employees </h6>
                        </div>
                      
  @Html.DropDownList("Organisations", "Select a Value")
                       
               
      
                  
