@model WebApplication29.Models.Message

@{
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
     var id = ViewBag.EmployeeId;
     var Employeename = ViewBag.Employeename;
    
}

<h1>send message</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                 <label class="MessageText" for="MessageText">MessageText</label>
                  <input name="MessageText"class="form-control" id="MessageText" type="text"  placeholder="MessageText" required>
                              
            </div>
            
            <div class="form-group mb-3">
                 <label class="MessageTitle" for="MessageTitle">MessageTitle</label>
                  <input name="MessageTitle"class="form-control" id="MessageTitle"  type="text" placeholder="MessageTitle" required>
            
            </div>
               <div class="form-group mb-3">
                 <label class="MessageDate" for="MessageDate">MessageDate</label>
                  <input name="MessageDate"class="form-control" id="MessageDate" type="date"   placeholder="MessageDate" required>
            
                
            </div>
          <div class="form-group mb-3">
                <label class="id" for="id">Employee name : @Employeename</label>
                  <input name="id"class="form-control" id="id"   hidden value="@id" required>
           
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


