
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/RegistrationFile/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/RegistrationFile/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/RegistrationFile/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/RegistrationFile/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/RegistrationFile/css/main.css" rel="stylesheet" media="all">
</head>


    <div class="page-wrapper  p-t-130 p-b-100 font-poppins" >
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body" style="background-color: #dce2e0;border-radius: 10px;">
                    <h2 class="title" style=" text-align: center;">Sign up</h2>
                    <form  asp-action="Regstration1" enctype="multipart/form-data" onsubmit ="verifyPassword()" >
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                   
                                      <label class="UserName" for="UserName">UserName</label>
                                    <input name="UserName"class="input--style-4" id="UserName"  pattern="^[a-zA-Z][a-zA-Z0-9-_.]{5,12}$" title="alphanumeric 6 to 12 chars" placeholder="UserName" required>
                              
                                    
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Password</label>
                                    
                                    <input name="Password"class="input--style-4" id="Password"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="at least one number and one uppercase and lowercase letter, and at least 6 or more characters" placeholder="Password" required>
                              
                                   
                             </div>
                            </div>
                        </div>

                           <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Confim your Password</label>
                 
                                    <input name="ConfirmPassword" class="input--style-4" id="ConfirmPassword"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="at least one number and one uppercase and lowercase letter, and at least 6 or more characters" placeholder="ConfirmPassword" required>

                             </div>
                            </div>
                          <div class="col-2">
                              <!--  <div class="input-group">
                                    <label class="label">role</label>
                                    <input class="input--style-4" type="text" asp-for="RoleId" >
                                </div>-->
                            </div>
                            <hr style="width:100%;margin: 30px,0px,30px,0px;" ,="" size="40" color="black">                            
                        </div>
                              <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                     <label class="label" for="FirstName">FirstName</label>
                                    <input name="FirstName" id="FirstName"  pattern="^[a-zA-Z]{3,15}$" title="Name may only contain letters " type="text" class="input--style-4" placeholder="FirstName" required>
                                </div>
                            </div>
                           
                            <div class="col-2">
                                <div class="input-group">
                                        <label class="label" for="LastName">LastName</label>
                                    <input name="LastName" id="LastName" type="text" pattern="^[a-zA-Z]{3,15}$" title="Name may only contain letters " class="input--style-4" placeholder="LastName" required>
                                </div>
                            </div>
                        </div>
                           <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                             <label class="label" for="City">City</label>
                                    <input name="City" id="City" type="text"pattern="^[a-zA-Z]{3,15}$" title="City may only contain letters " class="input--style-4" placeholder="City" required>
                                                              </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label" for="Adress">Adress</label>
                                    <input name="Adress" id="Adress" type="text" class="input--style-4" pattern="^[a-zA-Z]{3,15}$" title="Address may only contain letters " placeholder="Adress" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="BirthDate" id="BirthDate" required >
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" value="male" type="radio" checked="checked" name="Gender" id="Gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="Gender" id="Gender" value="female"> 
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" id="Email" type="email"   name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" id="PhoneNumber"  pattern="[7]{1}[0-9]{9}" title="Phone number start with 7 and remaing 9 digit with 0-9" type="text" name="PhoneNumber" placeholder="PhoneNumber" required>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                             <div class="col-2">
                                <div class="input-group">
                                    <label class="label">your image</label>
                                    <input class="input--style-4" type="file"  name="ImageFile" accept="image/*"required />
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/RegistrationFile/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/RegistrationFile/vendor/select2/select2.min.js"></script>
    <script src="~/RegistrationFile/vendor/datepicker/moment.min.js"></script>
    <script src="~/RegistrationFile/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/RegistrationFile/js/global.js"></script>

